body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

    input[type="search"]::-webkit-search-cancel-button {
        /* Remove default */
        -webkit-appearance: none;
        /* Now your own custom styles */
        height: 14px;
        width: 14px;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
        /* setup all the background tweaks for our custom icon */
        background-repeat: no-repeat;
        /* icon size */
        background-size: 14px;
    }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.ui-datepicker {
    width: 330px;
    height: auto;
    margin: 5px auto 0;
    font: 14pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    height: 100vh;
    background-color: white;
    background-size: cover;
}

.main {
    height: 80vh;
    scroll-behavior: smooth;
    width: auto;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mainDetails {
    height: 83vh;
    scroll-behavior: smooth;
    width: auto;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hideOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.passwordShowIcon {
    transform: translate(-30px, 3px);
    cursor: pointer;
}

.icon {
    margin-left: 4px;
    font-size: 25px !important;
    cursor: pointer;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #337ab7;
    -webkit-text-fill-color: #337ab7;
}

    .icon:hover {
        -webkit-text-stroke-color: #6dbafc;
        -webkit-text-fill-color: #6dbafc;
    }


    .icon:active {
        -webkit-text-stroke-color: #e0f1ff;
        -webkit-text-fill-color: #e0f1ff;
    }

.red {
    -webkit-text-stroke-color: red;
    -webkit-text-fill-color: red;
}

.green {
    -webkit-text-stroke-color: green;
    -webkit-text-fill-color: green;
}

.noCursor {
    cursor: default;
}

.small_icon {
    height: 24px;
}

.CB_Blocked {
    width: 18px;
    height: 18px;
}

.imageUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UploadedImage {
}

.detailsHeader {
    display: grid;
    grid-template-columns: auto 35px 35px;
    align-items: baseline;
}

.largeAvatar {
    width: 380px;
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}

.smallAvatar {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}

.UserSmallAvatar {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.largeLogo {
    width: 380px;
    height: 215px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}

.smallLogo {
    width: 110px;
    height: 62px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: dodgerblue !important;
    color: white;
    text-align: center !important;
    max-width: 280px !important;
    text-decoration: none;
}

.btn-secondary {
    background-color: green !important;
    color: white;
    text-align: center !important;
    max-width: 280px !important;
    text-decoration: none;
}

.btn-cancel {
    background-color: gray !important;
    color: white;
    text-align: center !important;
    max-width: 280px !important;
    text-decoration: none;
}

.btn-danger {
    background-color: darkRed !important;
    color: white;
    text-align: center !important;
    max-width: 280px !important;
    text-decoration: none;
}

fieldset {
    margin-top: 10px;
    border: 1px solid #ccc;
    max-width: 400px !important;
    border-radius: 6px;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.legend {
    font-size: 1em;
    color: dodgerblue !important;
    padding-bottom: 10px;
    font-weight: bold;
}

.formLayout {
    margin: auto;
    max-width: 415px;
}

.uploadImage {
    max-width: 380px;
}

.UploadedImage {
    max-width: 380px;
}

.radio {
    margin-left: 20px;
}

.menuIcon {
    height: 38px !important;
}

.menu {
    display: grid;
    grid-template-columns: auto 30px 40px 30px;
    align-items: center;
    gap: 8px;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
    margin-top: 3px;
}

.menuLeft {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    align-items: center;
    gap: 8px;
}

.menuRight {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    align-items: center;
    gap: 8px;
}

div1, img1 {
    border: 1px solid red;
}


.menu-Icon {
    font-size: 30px !important;
    -webkit-text-stroke-width: 0 !important;
    -webkit-text-fill-color: #FFF !important;
}

    .menu-Icon:hover {
        -webkit-text-fill-color: #6dbafc !important;
    }

    .menu-Icon:active {
        -webkit-text-fill-color: #e0f1ff !important;
    }




.userItem {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.usersCheckList {
    display: grid;
    grid-template-columns: 30px 200px;
}

    .usersCheckList input[type=checkbox] {
        margin-left: 1px;
        margin-top: -3px;
        transform: scale(0.6) !important;
    }

.userContainer {
    display: grid;
    grid-template-columns: 180px 30px 45px 30px 30px 30px;
    align-items: center;
    height: 50px;
}


.loginJournalLayout {
    display: grid;
    grid-template-columns: 250px 40px 60px auto;
    align-items: center;
    height: 50px;
}


.friendfilters {
    font-size: 20px !important;
    display: grid;
    grid-template-columns: 22px 35px 22px 35px 22px 35px 22px 35px 22px 35px 22px 35px;
    align-items: center;
}

    .friendfilters input[type=checkbox] {
        width: 16px !important;
        transform: scale(1.2);
        margin-top: -3px;
    }

.friendContainer {
    display: grid;
    grid-template-columns: 165px 35px 35px 35px;
    height: 60px;
    align-items: center;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.loginsContainerDay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
}

.friendship-userInfo {
    min-width: 85%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.sectionCmd {
    width: 8%
}

.iconsFriendShips {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sectionFiltre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
}

.filtreNom {
    width: 360px;
    height: 35px;
}

.relations {
    margin-top: 20px;
}

.ImgTitle {
    width: 50px;
    height: auto;
}

.friendsContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 80px;
    border: solid lightgrey 1px;
    border-radius: 10px;
    align-items: center;
}

.messagesSectionContainer {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.UpSection {
    display: flex;
    flex-direction: row;
}

.messagesInBox {
    width: 100%;
    height: 600px;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
}

.sendContainer {
    width: 320px;
    height: 80px;
    border: solid lightgrey 1px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.userImgContainer {
    width: 60px;
    height: 60px;
    border-radius: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    margin-top: 10px;
}
.userImgContainer > .UserAvatarChatRoom {
        width: 48px;
        height: 48px;
        
}
.UserAvatarChatRoom {
    width: 60px;
    height: 60px;
    border-radius: 45px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}
.titleContainer{
    width: 100%;
    height: 23%;
    border-radius: 10px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.titleContainer > span, .titleUserContainer > span{
    font-size: 1.7em;
    color: white;
    margin-left: 10px;
}
.titleUserContainer{
    display: flex;
    flex-direction: row;
    margin-left:10px;
    align-items: center;
}
.messageDate{
    text-align: center;
    color: lightgrey;
    margin-top:4px;
    border-bottom: 1px solid lightgrey;
}
.sentMessage {
    background-color: #ebb434;
    width: fit-content;
    max-width: 60%;
    min-height: 45px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: auto;
}
.contentImage{
    max-width: 100%;
    height: auto;
}
.receivedMessage {
    background-color: cadetblue;
    width: fit-content;
    max-width: 60%;
    min-height: 45px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
}
.sentMessage > span, receivedMessage > span{
    word-wrap: break-word;
    max-width: 100%;
}
.sendInput{
    width: 85%;
    height:100%;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size:1.2em;
}
.convContainer{
    overflow-y: scroll;
    height: 75%;
    margin-top:5px;

}
.chatRoomContainer{
    width: 400px;
}
.sentMessageModifier{
    display: block;
    padding: 0;

}
.modifier{
    display:none;
}
.input_modifier {
    width: 100%;
    padding: 10px;
    min-height: 45px;
    background-color: #f2c5ac;
    border-radius: 5px;
    border: solid 2px lightgrey;
}
.messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#modifier {
    display: none;
}

#supprimmer {
    display: none;
}

.convAdminContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.messageCell {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.messageCell > .sentMessage {
        margin-left: 0;
        width: 55%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0;
 }

.messageCell > .UserAvatarChatRoom {
    height: 45px;
    width: 45px;
}

.messageCell > .icon {
        font-size: 35px !important
}